In [1]:
import pandas as pd

In [6]:
df = pd.read_csv("https://bit.ly/world-cities-clean")

In [7]:
df.head()

               name               country          subcountry  geonameid
0      les Escaldes               Andorra  Escaldes-Engordany    3040051
1  Andorra la Vella               Andorra    Andorra la Vella    3041563
2    Umm al Qaywayn  United Arab Emirates      Umm al Qaywayn     290594
3    Ras al-Khaimah  United Arab Emirates     Raʼs al Khaymah     291074
4      Khawr Fakkān  United Arab Emirates        Ash Shāriqah     291696

In [8]:
#import pandas as pd
chemin = "chemin/qui/nexistepas"
data = pd.read_csv(chemin)
#Crash à cause du chemin qui n'existe pas

FileNotFoundError: [Errno 2] No such file or directory: 'chemin/qui/nexistepas'

In [9]:
## PARTIE COURS ##

In [21]:
#df.shape pour regarder le nombres de ligne et de colonnes
#df.dtypes pour regarder le nom des colonnes et leur type d'un seul coup (j'en profite pour repérer d'éventuel conversion de types qu'il faudra effectuer)
#df.head() pour regarder à quoi ressemble les premières lignes du dataset.
#df.tail() pour regarder les dernières lignes du dataset. J'en profite pour comparer le résultat de head avec celui de tail, y-a-t'il une quelconque différence? Parfois les anomalies sont rangées à la fin du dataset.
#df.isna().sum() pour vérifier la présence de valeurs manquantes par colonnes.

#df.drop('Open*', axis = 'columns', inplace = True)
#df = df.drop('Open*', axis = 'columns')

## FIN COURS ##

In [20]:
df2 = pd.read_csv("https://bit.ly/bitcoin-data")

In [12]:
df2

,Date,Open*,High,Low,Close**,Volume,Market Cap
0,Jan 14 2020,8140.93,8879.51,8140.93,8827.76,4.484178e+10,1.603195e+11
1,Jan 13 2020,8189.77,8197.79,8079.70,8144.19,2.248291e+10,1.478905e+11
2,Jan 12 2020,8033.26,8200.06,8009.06,8192.49,2.290344e+10,1.487530e+11
3,Jan 11 2020,8162.19,8218.36,8029.64,8037.54,2.552117e+10,1.459242e+11
4,Jan 10 2020,7878.31,8166.55,7726.77,8166.55,2.871458e+10,1.482499e+11
5,Jan 09 2020,8082.30,8082.30,7842.40,7879.07,2.404599e+10,1.430166e+11
6,Jan 08 2020,8161.94,8396.74,7956.77,8079.86,3.167256e+10,1.466452e+11
7,Jan 07 2020,7768.68,8178.22,7768.23,8163.69,2.876729e+10,1.481522e+11
8,Jan 06 2020,7410.45,7781.87,7409.29,7769.22,2.327626e+10,1.409765e+11
9,Jan 05 2020,7410.45,7544.50,7400.54,7411.32,1.972507e+10,1.344695e+11
10,Jan 04 2020,7345.38,7427.39,7309.51,7410.66,1.844427e+10,1.344425e+11
11,Jan 03 2020,6984.43,7413.72,6915.00,7344.88,2.811148e+10,1.332334e+11
12,Jan 02 2020,7202.55,7212.16,6935.27,6985.47,2.080208e+10,1.266994e+11
13,Jan 01 2020,7194.89,7254.33,7174.94,7200.17,1.856566e+10,1.305808e+11
14,Dec 31 2019,7294.44,7335.29,7169.78,7193.60,2.116795e+10,1.304461e+11
15,Dec 30 2019,7420.27,7454.82,7276.31,7293.00,2.287413e+10,1.322351e+11
16,Dec 29 2019,7317.65,7513.95,7279.87,7422.65,2.244526e+10,1.345708e+11
17,Dec 28 2019,7289.03,7399.04,7286.91,7317.99,2.136567e+10,1.326591e+11
18,Dec 27 2019,7238.14,7363.53,7189.93,7290.09,2.277736e+10,1.321395e+11
19,Dec 26 2019,7274.80,7388.30,7200.39,7238.97,2.278701e+10,1.312000e+11
20,Dec 25 2019,7325.76,7357.02,7220.99,7275.16,2.155951e+10,1.318406e+11
21,Dec 24 2019,7354.39,7535.72,7269.53,7322.53,2.299162e+10,1.326876e+11
22,Dec 23 2019,7508.90,7656.18,7326.19,7355.63,2.783179e+10,1.332757e+11
23,Dec 22 2019,7191.19,7518.03,7167.18,7511.59,2.313454e+10,1.360880e+11
24,Dec 21 2019,7220.59,7223.23,7112.74,7191.16,1.931255e+10,1.302677e+11
25,Dec 20 2019,7208.64,7257.92,7086.12,7218.82,2.263382e+10,1.307528e+11
26,Dec 19 2019,7277.59,7346.60,7041.38,7202.84,2.590460e+10,1.304458e+11
27,Dec 18 2019,6647.70,7324.98,6540.05,7276.80,3.183652e+10,1.317550e+11
28,Dec 17 2019,6931.32,6964.07,6587.97,6640.52,2.236380e+10,1.202342e+11
29,Dec 16 2019,7153.66,7171.17,6903.68,6932.48,2.021327e+10,1.255156e+11
30,Dec 15 2019,7124.24,7181.08,6924.38,7152.30,1.688113e+10,1.294814e+11
31,* Earliest data in range (UTC time),NaN,NaN,NaN,NaN,NaN,NaN
32,** Latest data in range (UTC time),NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
df2.head()

          Date    Open*     High      Low  Close**        Volume    Market Cap
0  Jan 14 2020  8140.93  8879.51  8140.93  8827.76  4.484178e+10  1.603195e+11
1  Jan 13 2020  8189.77  8197.79  8079.70  8144.19  2.248291e+10  1.478905e+11
2  Jan 12 2020  8033.26  8200.06  8009.06  8192.49  2.290344e+10  1.487530e+11
3  Jan 11 2020  8162.19  8218.36  8029.64  8037.54  2.552117e+10  1.459242e+11
4  Jan 10 2020  7878.31  8166.55  7726.77  8166.55  2.871458e+10  1.482499e+11

In [14]:
toy = pd.DataFrame(data={'a': [1, 2],
                        'b': [3, 3]})

In [15]:
toy

   a  b
0  1  3
1  2  3

In [27]:
# Méthode 1
toy.rename(str.upper, 
          axis = 'columns',
          inplace = True)

In [26]:
# Méthode 2
toy.columns = toy.columns.str.upper()

In [29]:
############################
########DATA CLEANING#######
############################

In [30]:
#Processus de transformer une masse d'informations en quelque chose d'utilisable

In [33]:
#Dirty : date, texte, nombres
#Clean : numérique, catégorique, ordinal

In [37]:
'''Exemple dirty/clean
Version dirty (car hierarchisée)
B = 0
R = 1
v = 2

Version clean
B | R | V
1 | 0 | 0
0 | 1 | 0
0 | 0 | 1
1 | 0 | 0
0 | 0 | 1
'''

'Exemple dirty/clean\nVersion dirty (car hierarchisée)\nB = 0\nR = 1\nv = 2\n\nVersion clean\nB | R | V\n1 | 0 | 0\n0 | 1 | 0\n0 | 0 | 1\n1 | 0 | 0\n0 | 0 | 1\n'

In [39]:
'''
str -> num
num -> ordinal
date -> num
date -> ordinal

NaN -> str, num, date -> catégorie
'''

'\nstr -> num\nnum -> ordinal\ndate -> num\ndate -> ordinal\n\nNaN -> str, num, date -> catégorie\n'

In [42]:
df2.shape

(33, 7)

In [43]:
df2.head

<bound method NDFrame.head of                                    Date    Open*     High      Low  Close**  \
0                           Jan 14 2020  8140.93  8879.51  8140.93  8827.76
1                           Jan 13 2020  8189.77  8197.79  8079.70  8144.19
2                           Jan 12 2020  8033.26  8200.06  8009.06  8192.49
3                           Jan 11 2020  8162.19  8218.36  8029.64  8037.54
4                           Jan 10 2020  7878.31  8166.55  7726.77  8166.55
5                           Jan 09 2020  8082.30  8082.30  7842.40  7879.07
6                           Jan 08 2020  8161.94  8396.74  7956.77  8079.86
7                           Jan 07 2020  7768.68  8178.22  7768.23  8163.69
8                           Jan 06 2020  7410.45  7781.87  7409.29  7769.22
9                           Jan 05 2020  7410.45  7544.50  7400.54  7411.32
10                          Jan 04 2020  7345.38  7427.39  7309.51  7410.66
11                          Jan 03 2020  6984.43  7413.72  6915.00  7344.88
12                          Jan 02 2020  7202.55  7212.16  6935.27  6985.47
13                          Jan 01 2020  7194.89  7254.33  7174.94  7200.17
14                          Dec 31 2019  7294.44  7335.29  7169.78  7193.60
15                          Dec 30 2019  7420.27  7454.82  7276.31  7293.00
16                          Dec 29 2019  7317.65  7513.95  7279.87  7422.65
17                          Dec 28 2019  7289.03  7399.04  7286.91  7317.99
18                          Dec 27 2019  7238.14  7363.53  7189.93  7290.09
19                          Dec 26 2019  7274.80  7388.30  7200.39  7238.97
20                          Dec 25 2019  7325.76  7357.02  7220.99  7275.16
21                          Dec 24 2019  7354.39  7535.72  7269.53  7322.53
22                          Dec 23 2019  7508.90  7656.18  7326.19  7355.63
23                          Dec 22 2019  7191.19  7518.03  7167.18  7511.59
24                          Dec 21 2019  7220.59  7223.23  7112.74  7191.16
25                          Dec 20 2019  7208.64  7257.92  7086.12  7218.82
26                          Dec 19 2019  7277.59  7346.60  7041.38  7202.84
27                          Dec 18 2019  6647.70  7324.98  6540.05  7276.80
28                          Dec 17 2019  6931.32  6964.07  6587.97  6640.52
29                          Dec 16 2019  7153.66  7171.17  6903.68  6932.48
30                          Dec 15 2019  7124.24  7181.08  6924.38  7152.30
31  * Earliest data in range (UTC time)      NaN      NaN      NaN      NaN
32   ** Latest data in range (UTC time)      NaN      NaN      NaN      NaN

          Volume    Market Cap
0   4.484178e+10  1.603195e+11
1   2.248291e+10  1.478905e+11
2   2.290344e+10  1.487530e+11
3   2.552117e+10  1.459242e+11
4   2.871458e+10  1.482499e+11
5   2.404599e+10  1.430166e+11
6   3.167256e+10  1.466452e+11
7   2.876729e+10  1.481522e+11
8   2.327626e+10  1.409765e+11
9   1.972507e+10  1.344695e+11
10  1.844427e+10  1.344425e+11
11  2.811148e+10  1.332334e+11
12  2.080208e+10  1.266994e+11
13  1.856566e+10  1.305808e+11
14  2.116795e+10  1.304461e+11
15  2.287413e+10  1.322351e+11
16  2.244526e+10  1.345708e+11
17  2.136567e+10  1.326591e+11
18  2.277736e+10  1.321395e+11
19  2.278701e+10  1.312000e+11
20  2.155951e+10  1.318406e+11
21  2.299162e+10  1.326876e+11
22  2.783179e+10  1.332757e+11
23  2.313454e+10  1.360880e+11
24  1.931255e+10  1.302677e+11
25  2.263382e+10  1.307528e+11
26  2.590460e+10  1.304458e+11
27  3.183652e+10  1.317550e+11
28  2.236380e+10  1.202342e+11
29  2.021327e+10  1.255156e+11
30  1.688113e+10  1.294814e+11
31           NaN           NaN
32           NaN           NaN  >

In [44]:
df2.dtypes

Date           object
Open*         float64
High          float64
Low           float64
Close**       float64
Volume        float64
Market Cap    float64
dtype: object

In [49]:
#df2['wire amount'] = df2['wire amount'].str.slice(1, None)

In [47]:
import random

In [50]:
def makeNumberStr(sep=[',']):
    avant = str(random.randint(1, 1000))
    apres = '{:02}'.format(random.randint(0,99))
    sep = random.choice(sep)
    return avant + sep + apres

In [51]:
col1 = [makeNumberStr() for _ in range(200)]
col2 = [makeNumberStr(['.', ',']) for _ in range(200)]

In [56]:
#print(abcd)

In [58]:
#exo2['col1'] = exo2['col1'].str.replace(',','.')
#exo2['col2'] = exo2['col2'].str.replace(',','.')

#exo2['Device col1'] = exo2['col1'].str.get(-1)
#exo2['col1'] = exo2['col1'].str.slice(None, -1).astype('float')
#exo2['Device col2'] = exo2['col2'].str.get(-1)
#exo2['col2'] = exo2['col2'].str.slice(None, -1).astype('float')

#Boucle

#for i in [1,2]:
#	exo2[f'col{i}'] = exo2[f'col{i}'].str.replace(',','.')
#	exo2[f'Devise col{i}'] = exo2[f'col{i}'.get.get(-1)
#	exo2[f'col{i}'] = exo2{f'col{i}'].str.slice(None, -1).astype('float)